name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        go: ['1.24', 'stable']

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}

      - name: Verify GitHub CLI
        run: gh --version
        env:
          GH_TOKEN: ${{ github.token }}

      - name: Verify go mod tidy
        run: |
          go mod tidy
          git diff --exit-code
        if: runner.os == 'Linux' && matrix.go == 'stable'

      - name: Install tools
        run: make tools

      - name: Lint
        run: make lint

      - name: Vulnerability check
        run: make vulncheck

      - name: Test
        run: make test

      - name: Build
        run: make build

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        if: runner.os == 'Linux' && matrix.go == 'stable'
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
